<div ui-content-for="title">
	<span>About</span>
</div>

<div class="scrollable">
	<div class="scrollable-content section">
		<h2>Altitude</h2>
		<h4>The web based flight tracking system</h4>
		<p>Altitude is a web based application designed to assist drone operators in maintaining their aircraft, tracking their flights and performing checklists.</p><br>
		<p>Alitiude is built by NovaLab:<br/><a href="http://novalab.com.au"><img src="/app/img/logo_small.png"/></a></p><br>
		<p>
			This software is the intellectual property of Jered Masters (trading as NovaLab) and is protected under the Australian Copyright Act 1968. <br>
			ABN 86 224 612 595
		</p>
	</div>
</div>