	<div class="list-group">
		<div ng-repeat="scaff in scaffolds" class="list-group-item" style="padding: 0">
			<div  ng-click="isOpen[$index] = !isOpen[$index]" style="padding: 10px; cursor: pointer;">
				<i class="fa fa-wrench"></i> {{ scaff.title }} <i class="fa pull-right" ng-class='{"fa-chevron-right":(!isOpen[$index]), "fa-chevron-down":(isOpen[$index])}'></i>
			</div>
			<div collapse="!isOpen[$index]" style="overflow: auto;">
				<div class="col-xs-1"></div>
				<div class="col-xs-11">
					<a href="#/equipment/{{scaff.key}}" class="list-group-item"><strong>New</strong> <i class="fa fa-plus pull-right"></i></a>
					<a href="#/equipment/{{obj.key}}" ng-repeat="obj in objects[scaff.key_base]" class="list-group-item">{{obj.title}} <i class="fa fa-chevron-right pull-right"></i></a>
					<br>
					<br>
					<a href="#/edit/{{scaff.key}}" class="btn btn-warning" a-basic><strong>Edit Type</strong> <i class="fa fa-pencil"></i></a>
				</div>
			</div>
		</div>
		
		<br>
        <div a-basic>
            <a href="#/edit/scaffold.equipment:new" class="btn btn-primary" ><strong>New Type</strong> <i class="fa fa-plus"></i></a>
            <help title="Equipment Types">
                Equipment types are a categories of phyiscal objects. Each equipment type can have multiple objects of that type.<br />
                For example type: <br />
                <ul>
                    <li>
                        Create a type "Battery", then add multiple batteries to it.
                    </li>
                    <li>
                        Create a type "Airframe", then add multiple airframes to it.
                    </li>
                </ul>
            </help>
        </div>
	</div>